# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_USER=
MYSQL_DATABASE=ynov_ci
MYSQL_HOST=db

# Mongo
MONGO_ROOT_USER=
MONGO_ROOT_PASSWORD=
MONGO_DATABASE=blog_db
MONGO_HOST=mongo
ME_CONFIG_BASICAUTH=false

# Mongo Express
ME_CONFIG_MONGODB_SERVER=mongo